<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xue.enablespeedmode">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true">

        <activity
            android:theme="@style/Theme.EnableSpeedMode"
            android:name=".YcModeActivity"
            android:exported="false" />
        <activity
            android:theme="@style/AppTheme.About"
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.EnableSpeedMode"
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <receiver
            android:name=".StartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="-1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>